<h1>Login Page</h1>
<%= link_to 'or Create User', new_user_path %>
<%= form_for :login, url: login_path do |f| %>

<p>
	<%= f.label :email  %><br>
	<%= f.email_field :email %>
</p> 

<p>
	<%= f.label :password %><br>
	<%= f.password_field :password %>
</p>


<p>
  <%= f.submit %>
</p>

<% end %>